{sub_dirs, ["rel", "apps/exemplar"]}.

{lib_dirs, ["deps"]}.

{deps, [
    {'cowboy', ".*", {git, "https://github.com/extend/cowboy.git"}},
    {'mustache', ".*", {git, "https://github.com/mojombo/mustache.erl.git"}},
    {'riakc', "1.2.1", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.2.1"}}}
]}.
