{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, keep}]},
       {app_file, keep},
       {rel, "exemplar", "1",
        [
         kernel,
         stdlib,
         sasl,
         exemplar
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "exemplar"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, exemplar, [{incl_cond, include}]},
       {app, mustache, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, riakc, [{incl_cond, include}]},
       {app, tools, [{incl_cond, include}]}
      ]}.

{target_dir, "exemplar"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/exemplar", "bin/exemplar"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/exemplar.cmd", "bin/exemplar.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "../apps/exemplar/src/index.mustache", "lib/exemplar-\{\{rel_vsn\}\}/ebin/index.mustache"}
          ]}.
